html {
    font-size: 15px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: "Roboto Mono"; /* this should be the rest of the output you got from Google fonts */
  }

h1 {
  font-size: 30px;
  text-align: center;
}
  
p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

html {
    background-color: #81c5fc;
  }

body {
  width: 600px;
  margin: 0 auto;
  background-color: #FFFFFF;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

img {
    display: block;
    margin: 0 auto;
  }
  
  
  
  
    